{% macro render_post(post, current_user) %}

  <div class="row">

    <div class="col-md-2 text-right metadata">
      <ul class="list-unstyled">
        <li>
          {{ post.datetime | dateformat("%m/%d/%y") }}
        </li>
        {% if post.author.name %}
          <li>
            Author: {{ post.author.name }}
          </li>
        {% with owner_auth = (post.author.name == current_user.name) %}
        {% if owner_auth %}
          <li>
            <a href="/post/{{ post.id }}/edit">Edit Post</a>
          </li>
          <li>
            <a href="/post/{{ post.id }}/delete">Delete</a>
          </li>
        {% endif %}
        {% endwith %}
        {% endif %}

      </ul>
    </div>

    <div class="col-md-10">
      <h1>
        <a href="{{ url_for('view_post', pid=post.id) }}">{{ post.title }}</a>
      </h1>
      {{ post.content | safe }}
    </div>

  </div>

{% endmacro %}